name: Render Spin Video

on:
  repository_dispatch:
    types: [spin]

jobs:
  render:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install system deps
        run: |
          sudo apt update
          sudo apt install -y ffmpeg xvfb

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install npm deps
        run: |
          npm install

      - name: Run renderer
        env:
          HTML_URL: ${{ github.event.client_payload.renderUrl }}
          BOT_TOKEN: ${{ github.event.client_payload.botToken }}
          CHAT_ID: ${{ github.event.client_payload.chatid }}
        run: |
          xvfb-run --server-args="-screen 0 1080x1080x24" node render.js
          
